@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jacquarda+Bastarda+9&family=Pixelify+Sans:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loop-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
    @keyframes loop-rotate{
      100% {
        rotate: 1turn;
      }
  }
  @keyframes hold-rotate{
    100% {
      rotate: -1turn;
    }
}

  
  .animate-loop-scroll {
    animation: loop-scroll 50s linear infinite;
  }

  .animate-loop-rotate{
    animation: loop-rotate 20s linear infinite;
  }

  
  .animate-hold-rotate{
    animation: hold-rotate 20s linear infinite;
  }
