@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loop-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-loop-scroll {
    animation: loop-scroll 50s linear infinite;
  }